/*html, body {
    min-height: 100vh;
}*/

.container-fluid {
    width: 100%;
	font-size : 16px;
}

.panel{
    border-radius: 0px;
}


.container-fluid:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    /*background-image: url(../img/hintergrund.png);*/
    //background-color: #f92600;
	background-color: white;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.swiper-container, .swiper-slide, swiper-wrapper {
    text-align: center;
}

.swiper-container {
    width: 80%;
}

.swiper-pagination-bullet-active{
	background: red;
}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    border: 1px solid #FFFFFF;
    padding: 5px;
}

.button {
    text-align: center;
    padding-bottom: 0.5%;
	color: red;
}

.btn{
	color: red;
	font-size : 16px;
}

.btn{
	margin-bottom:2px;
}
 
.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
    background: red;
	color: white;
}

.width-btn {
    width: 30%;
}

#imgzoom {
    padding-left: 50px;
}

.white {
    color: white;
}
.textColor {
    color: red;
}


.bgcolor {
    background-color: red;
}

