body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    width: 100vw;
}

.leaflet-top leaflet-right {
    z-index: 9999;
}

#z_blocked {
    font-size: 16px;
    margin-top: 7px;
}


#alertSensor{
	z-index:5000; 
	width:60vw;
	position:absolute;
	left:50%;
	top: 30px;
	margin-left: -30vw; 
}

div.alert.alert-danger {
    color: red;
    background-color: white;
    border-color: grey;
	font-family: Helvetica;
	font-weight: normal;
	font-size: 16px;    
	border-style: 1px solid;
    box-shadow: 10px 10px 10px #333333;
}